@model bookstoree.Models.Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="display: flex ; justify-content: flex-end;">
                <h1>Chi tiết đơn hàng</h1>
            </div>
            <div class="col-sm-6" style="display: flex ; justify-content: flex-end;">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin đơn hàng</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.OrderDate)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.PaymentMethod)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </dt>
                            <dd class = "col-sm-8">
                                @string.Format("{0:N0} VNĐ", Model.TotalAmount)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.User)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.User.UserName)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.Discount)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.Discount.DiscountCodeId)
                                @if (!string.IsNullOrEmpty(Model.Discount?.Description))
                                {
                                    <span> (@Model.Discount.Description)</span>
                                }
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    @* <div class="card-header">
                        <h3 class="card-title">Order Items</h3>
                    </div> *@
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên sách</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderDetails != null)
                                {
                                    @foreach (var item in Model.OrderDetails)
                                    {
                                        <tr>
                                            <td>@item.Book.Title</td>
                                            <td>@item.Quantity</td>
                                            @* <td>@string.Format("{0:N0} VNĐ", item.UnitPrice)</td> *@
                                            <td>@string.Format("{0:N0} VNĐ", item.Quantity * item.UnitPrice)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model?.OrderId" class="btn btn-info">Sửa</a> 
                        <button type="button" onclick="history.back()" class="btn btn-secondary">Quay lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
