@model bookstoree.Models.User

@{
    ViewData["Title"] = "User Details";
    Layout = "_Layout";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header" style="margin-bottom:15px">
                        <h3 class="card-title">Thông tin người dùng</h3>
                    </div>
                    @* <div class="container py-5"> *@
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="margin-bottom:0px">
                                <div class="card-body text-center">
                                    <img src="https://www.svgrepo.com/show/420342/avatar-male-president.svg" alt="avatar" class="rounded-circle img-fluid" style="width: 157px;">
                                    <h5 class="my-3">@Model.FullName</h5>
                                    <p class="text-muted mb-3">Vai trò: @Model.Role</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Họ và tên</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.FullName</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.Email</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Số điện thoại</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.PhoneNumber</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Tên tài khoản</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.UserName</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mật khẩu</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.PasswordHash</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* </div> *@
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-info">Sửa</a> |
                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
